.basketText{
    font-family: 'Raleway', italic;
    font-size: 48px;
}
.basketDivMain{
    margin-top: 221px;
    margin-left: 40px;
    color: #ffff;
    width: 60%;
}
.imgPG{
    background-image: url('../../img/fermerForm.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    
    height: 736px;
    margin-top: 100px;
    display: flex;
}
.basketTextP{
    margin-top: 32px;
    width:85%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}
.butChooseProduct{
    width: 252px;
    height: 48px;
    background-color: var(--brandColor);
    border-color: #ffff;
    color: #ffff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 48px;
}
.butChooseProduct:hover {
    background: #fffF;
    color: var(--brandColor);
    border-color: var(--brandColor);

}
.butChooseProduct:active {
    scale: 0.95;
}