.mainDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');
.textDiv{
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
}
.delay{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}