.footer {
    font-family: "Open Sans";
    padding: 32px 104px 18px 104px;
    min-height: min-content;
    background: #EAF0FF; 
    margin-top: 200px;
}
.top {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.column:not(:last-child) > *:first-child {
    font-weight: bold;
}
.column > *:not(:last-child){
    margin-bottom: 24px;
}
.top > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.links {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
}
.spanName{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.spanList{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.email{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1E1E1E;
    margin-left: 10px;
}
.emailDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.politica{
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #A9A9A9;

}