@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.cardMainDivPadd{
    
    width: min-content;
    height: min-content;
    border: 2px solid #EAF0FF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 24px;
    margin-top: 24px;
    
    justify-content: space-between;

}
.cardMainDivMove{
    display: flex;
    flex-direction: row;
}
.cardPhoto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: left;
    margin-left: 19px;
    width: 374px;
}
.infoName{
    text-align: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.categ{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color:  #7C7C7C;
}
.infoCategories{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color:  #1E1E1E;
}
.infoDescription{
    font-family: 'Open Sans';
    font-style: normal;     
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.rightPart{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
}
.mark{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.buttonR{
    
}
.bt{
    width: 252px;
    height: 48px;
    background-color: var(--brandColor);
    border-color: #1E1E1E;
    color: #ffff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    border-radius: 10px;
    border: 1px solid;
}
.bt:hover {
    background: #007A4F;
}
.bt:active {
    scale: 0.95;
}